.staffs {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff {
  &-help {
    position: absolute;
    opacity: 0;
    top: 26%;
  }
  margin: 0 auto;
  position: relative;
  width: 100%;

  .lines {
    width: 100%
  }
  .head {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    &.clef {
      height: 49%;
      top: 7%;
    }
    &.bassClef {
      top: 55%;
      height: 27%;
      left:3%;
    }

  }

}

.note {
  display: block;
  left: 50%;
  top: 47%;
  position: absolute;
  width: 2%;
  border-radius: 50%;
  height: 6%;
  background-color: black;
}

