$height: 54.25vw; // 16:9
$upperHeight: 28.25vw;
$margin:1vw;
$lowerHeight: $height - $upperHeight -$margin;

body {

}

.app {
  padding: $margin;
  width: 100vw ;
  height: $height;
  position: relative;
  overflow: hidden;
}
.title{
  position: absolute;
}

.upper {
  height: $upperHeight;
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.settings {
  width: 30%;
   height: $upperHeight;
}


.keys {
  width: 100%;
  height: $lowerHeight;
}

.staffs {
  position: relative;
  width: 60%;
  padding: 1vw;
  height: $upperHeight;
  .lines,.head{
    height: $upperHeight;
  }
}

.boardWrapper{
  width:20%;
}