$height: 56.25vw; // 16:9
$upperHeight: 28.25vw;
$titleHeight: 2vw;
$margin:1vw;
$lowerHeight: $height - $upperHeight - $titleHeight - ( $margin *2) ;

body {

}

.app {
  margin: 0 $margin;
  width: 100vw - ( 2 * $margin) ;
  height: $height;
  position: relative;
}
.title{
  height:2vw;
}

.upper {
  height: $upperHeight;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.settings {
  width: 30%;
   height: $upperHeight;
  display: flex;
  align-items: center;
}


.keys {
  width: 100%;
  height: $lowerHeight;
}


.staffs {
  position: relative;
  width: 60%;
  height: $upperHeight;
  .lines,.head{
    height: $upperHeight;
  }
}

.feedback{
  width:20%;
}