body {
  font-size: 4vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.solutionWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  right:0;
  top: -2px;
  width: 20%;
.solution {
  text-align: center;
  font-size: 2.2rem;
  line-height: 80px;

  color: white;
  .right {
    background-color: $success;
    box-shadow: 2px 2px 2px #888;
    border-radius: 20px;
  }
  .wrong {
    background-color: rgb(198, 40, 40);
    box-shadow: 2px 2px 2px #888;
    border-radius: 20px;
  }
}
}
// Justified button groups
// ----------------------

.btn-group-justified {
  display: flex;
  flex-direction: column;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}