body {
  font-size: 4vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.solutionWrapper {
.solution {
  position: absolute;
  text-align: center;
  font-size: 2.5rem;
  line-height: 80px;
  top: 17%;
  left: 69%;
  width: 30%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #444;
  color: white;
  .right {
    background-color: #44bb44;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #444;
  }
  .wrong {
    background-color: #995555;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #444;
  }
}
}
// Justified button groups
// ----------------------

.btn-group-justified {
  display: flex;
  flex-direction: column;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}