$primary:     rgb(2, 136, 209);
$secondary:    rgb(0, 150, 136);//#   #c2185b ;
$green: #7cb342;
$black: #555;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;
$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-family: 'Pacifico', sans-serif;
$headings-font-weight: 300;

$input-btn-focus-width:       1px;
//$input-btn-focus-color:       rgba($component-active-bg, .25) !default;